.covercontainer {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.covercontainer > h1 {
  color: white;
  font-size: 50px;
}

.covercontainer > p {
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 968px) {
  .covercontainer > h1 {
    font-size: 40px;
    text-align: center;
  }

  .covercontainer > p {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .covercontainer {
    width: 791px;
    text-align: center;
  }

  .covercontainer > video {
    width: 791px;
  }
}

@media screen and (max-width: 480px) {
  .covercontainer {
    text-align: center;
    width: 806px;
  }
  .covercontainer > p {
    font-size: 35px;
    text-align: center;
  }
  .covercontainer > h1 {
    font-size: 60px;
    text-align: center;
  }

  .covercontainer > video {
    width: 806px;
  }
}
